@charset "utf-8";
/*
	Last Update:2020/01/23
	Auther: iw
*/
/*===================================================================
	layout
===================================================================*/
html { background:#fff; }
body { text-align:center; }
body, #base, #body { position:relative; overflow-x:hidden; }

.wrapper, .wrapper-t, .wrapper-b { position:relative; }
	@media (max-width: 991px){
		.wrapper, .wrapper-t { padding-top:60px; }
		.wrapper,.wrapper-b { padding-bottom:60px; }
	}
	@media (min-width: 992px){
		.wrapper, .wrapper-t { padding-top:80px; }
		.wrapper,.wrapper-b { padding-bottom:80px; }
	}

.center, .center2, .center3 { width:100%; margin:0 auto; text-align:left; }
.center { max-width:1100px; }
.center2 { max-width:800px; }
.center3 { max-width:900px; }
	@media (max-width:1130px){
		.center { padding-left:15px; padding-right:15px; }
	}
	@media (max-width: 830px){
		.center2 { padding-left:15px; padding-right:15px; }
	}
	@media (max-width: 930px){
		.center3 { padding-left:15px; padding-right:15px; }
	}


/*===================================================================
	#head
===================================================================*/
#head { position:relative; top:0; left:0; width:100%; z-index:9990; }
#head a { text-decoration:none; }
#head .head_wrap { display:table; max-width:1400px; width:100%; margin:0 auto; }
#head .head_wrap > * { display:table-cell; vertical-align:middle; }
	@media (max-width: 767px){
		#head.fixed { position:fixed; box-shadow:0 2px 3px #999; background:#FFF; }
		#head .head_wrap{ padding:10px; }
	}
	@media (min-width: 768px){
		#head .head_wrap { padding:15px; }
	}

#head .site_logo { text-align:left; }
	@media (max-width: 575px){
		#head .site_logo img { max-width:160px; }
	}
	@media (min-width: 576px){
		#head .site_logo img { max-width:220px; }
	}

#head .head_contact { color:#7c7c7c; }
#head .head_contact .tel_unit > span { display:block; text-align:center; line-height:120%; }
#head .head_contact .tel { font-weight:bold; font-size:2.75em; }
#head .head_contact .tel a { color:#7c7c7c; }
#head .head_contact .time { font-size:14px; padding-left:35px; }
	@media (max-width: 767px){
		#head .head_contact { text-align:center; }
		#head .head_contact .tel_unit { padding:20px 0; }
	}
	@media (min-width: 768px){
		#head .head_contact { text-align:right; }
		#head .head_contact > * { display:inline-block; vertical-align:middle; }
		#head .head_contact .mail_unit { padding-left:15px; }
	}

#btn_open {}
	@media (max-width: 767px){
		#btn_open { width:50px; position: absolute; top: calc(50% - 25px); right: 0; }
		#btn_open a { display:block; color:#87664F; text-align:center; font-size:30px; line-height:48px; height:50px; }
		#menu_cover { background:rgba(255,255,255,0.9); position:absolute; top:0; left:0; z-index:900; width:100vw; height:100%; overflow:hidden; }
	}
	@media (min-width: 768px){
		#head #btn_open { display:none !important; }
	}

#head_navi {}
#head_navi .center { padding-left:0; padding-right:0; }
#head_navi ul > li > a { color:#444; }
#head_navi .sns { font-size:20px; }
	@media (max-width: 575px){
		#base.open #head_navi { top:65px; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		#base.open #head_navi { top:80px; }
	}
	@media (max-width: 767px){
		#base:not(.open) #head_navi { display:none; }
		#head_navi { position:absolute; left:0; width:100%; background:#fff; }
		#head_navi li:not(.sns) { border-top:1px solid #ccc; }
		#head_navi li:not(.sns) > a { display:block; padding:10px 15px; }
		#head_navi .sns { text-align:center; padding:20px 0; }
	}
	@media (min-width: 768px) and (max-width:900px){
		 #head_navi li { padding: 0 1px!important;}
	}
	@media (min-width: 768px){
		#head_navi { background:#f3f1ed; padding:20px 0; }
		#head_navi ul { display:table; width:100%; height:100%; }
		#head_navi li { display:table-cell; vertical-align:middle; text-align:center; line-height:100%; padding:0 10px; }
		#head_navi li a { display:inline-block; font-weight:bold; padding:4px 0 0; }
		#head_navi li:not(.sns) a:after { content:""; display:block; margin:4px auto 0; width:0; height:4px; background:#87664F; transition:all 0.3s; }
		#head_navi .sns { width:150px; }
		body.pc #head_navi li:not(.sns):hover a { color:#87664F; }
		body.pc #head_navi li:not(.sns):hover a:after { width:100%; }
	}

/* footerと共通 */
.sns a { margin:0 2px; color:#fff !important; border-radius:50%; width:35px; height:35px; text-align:center; overflow:hidden; display:inline-block; vertical-align:middle; line-height:100%; }
.sns .fa { background:#1877f2; padding:8px 10px 7px !important; }
.sns .twitter { background:#1da1f2; padding:7px 7px 7px 8px !important; }
.sns .instagram { background:#f00076; padding:6px 9px 8px 8px !important; }

/* top用 */
#top {}
	@media (min-width: 768px){
		#top #head { position:absolute; max-height:740px; }
		#top #head_navi { position:absolute; bottom:0; left:0; width:100%; }
	}
	@media (min-width: 768px) and (max-width:1199px){
		#top #head { height:calc(43.5vw + 180px); }
	}
	@media (min-width:1200px){
		#top #head { height:44vw; }
	}


/*===================================================================
	#foot
===================================================================*/
#contact #foot_contact { display:none; }
#foot_contact .contact_area { padding:30px; border:3px solid #f2f1ed; text-align:center; color:#87664f; }
#foot_contact .tel_unit h4 { font-size:1.3em; margin: 0 auto; max-width:350px; }
#foot_contact .tel_unit .tel { font-weight:bold; line-height:100%; }
#foot_contact .tel_unit .tel i { font-size:0.9em; margin-right:5px; }
#foot_contact .btn_foot_contact { display:inline-block; width:100%; max-width:380px; border:1px solid #87664f; color:#87664f; border-radius:50px; overflow:hidden; text-decoration:none; margin:0 auto; text-align:center; letter-spacing:2px; }

	@media (max-width: 379px){
		#foot_contact .tel_unit .tel { font-size: 2.25em!important; }
	}
	@media (max-width: 575px){
		#foot_contact .tel_unit .tel { display:block; font-size:2.75em; padding-bottom:15px; }
		#foot_contact .btn_foot_contact { padding:10px 0 10px 10px; font-size:1.25em; }
	}
	@media (min-width: 576px){
		#foot_contact .tel_unit { border-right:1px solid #ddd; }
		#foot_contact .tel_unit .tel { font-size:3em; }
		#foot_contact .btn_foot_contact { font-size:1.55em; }
	}
	@media (min-width: 576px) and (max-width: 754px){
		#foot_contact .tel_unit .tel {font-size: 2.2em;}
	}
	@media (min-width: 576px) and (max-width: 767px){
		#foot_contact .btn_foot_contact { padding:15px 0 15px 10px; }
	}
	@media (min-width: 768px){
		#foot_contact .btn_foot_contact { padding:20px 0 20px 10px; }
		#foot_contact .tel_unit .tel { font-size:3em; }
	}


#foot { position:relative; }
#foot .address_unit h5 img { max-width:260px; margin-bottom:20px; }
#foot .address_unit span.parking{color: #DF333E; font-weight: 600;}
#foot .sns { font-size:1.25em; }
#copyright { font-size:13px; color:#fff; padding:10px 0; }
	@media (max-width: 575px){
		#foot .address_unit .disp_td { display:block; text-align:center; padding:30px 0; }
		#foot .map iframe { max-height:250px; }
	}
	@media (min-width: 576px){
		#foot .address_unit { display:table; height:100%; width:100%; margin:0 0 0 auto; text-align:left; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		#foot .address_unit { max-width:300px; }
		#foot .map iframe { max-height:400px; }
	}
	@media (min-width: 768px){
		#foot .address_unit { max-width:350px; }
	}

#pagetop { position:fixed; right:0; }
	@media (max-width: 767px){
		#pagetop { bottom:50px; }
	}
	@media (min-width: 768px){
		#pagetop { bottom:200px; }
	}


/*===================================================================
	#common
===================================================================*/
/* title */
#page_title { position:relative; }
#page_title .page_title_wrap { position:absolute; top:0; left:0; width:100%; height:100%; }
#page_title .center { display:table; width:100%; height:100%; }
#page_title h2 { display:table-cell; text-align:center; color:#FFF; vertical-align:middle; font-weight:bold; text-shadow: 0 0 5px rgba(0,0,0,0.7);}
#page_title h2 .main { letter-spacing: 5px;}
#page_title h2 span { display:block; line-height:160%; }
#page_title h2 .sub { font-weight:normal; }
#page_title h2 .sub { display: flex; align-items: center; justify-content: center;}
#page_title h2 .sub:before,#page_title h2 .sub:after { border-top: 1px solid; content: ""; width:2em; }
#page_title h2 .sub:before { margin-right: 1rem;}
#page_title h2 .sub:after { margin-left: 1rem;}
	@media (max-width: 575px){
		#page_title .img_back { min-height: 130px; background-position:right top; }
		#page_title h2 .sub { font-size:1em; }
	}
	@media (min-width: 576px){
		#page_title h2 .sub { font-size:1.5em; }
	}
	@media (max-width: 767px){
		#page_title h2 .main { font-size:2em; }
	}
	@media (min-width: 768px){
		#page_title h2 .main { font-size:2.25em; }
	}


/* top_img */
#top_img { position:relative; }
#top_img .top_img_wrap { position:absolute; top:0; left:0; width:100%; height:100%; }
#top_img .center3 { display:table; width:100%; height:100%;  margin-left: 0;}
#top_img h2 { display:table-cell; text-align:center; color:#87664F; vertical-align:middle; font-weight:bold;}
	@media (max-width: 575px){
		#top_img .img_back { min-height: 280px; background-position:right top; }
	}
	@media (min-width: 992px){
		#top_img h2 { font-size:1.75em; }
	}
	@media (max-width: 991px){
		#top_img h2 { font-size:1.25em; }
	}

/* pankuzu */
#pankuzu { text-align:left; font-size:13px; padding:10px 0; color:#87664F; }
#pankuzu a { color:#B9B9B9; }
#pankuzu li { display:inline-block; }
#pankuzu li:before { content:"\f054"; font-family:"Font Awesome 5 Free"; -webkit-font-smoothing:antialiased; text-rendering:auto; font-variant:normal; font-weight:bold; font-size:0.85em; padding:0 10px; color:#B9B9B9; }
#pankuzu ul > li:first-child:before { content:""; padding:0; }
	@media (max-width: 575px){
		#pankuzu { display:none; }
	}
