@charset "utf-8";
/*
	Last Update:2019/10/11
	Auther: iw
*/
/*===================================================================
	#top
===================================================================*/
#top_main { position:relative; }
#top_main .text .center { display:table; height:100%; }
#top_main .text_in { display:table-cell; }
#top_main #main_text .text_in > * { max-width:430px; text-align:center; }
#top_main #main_text .logo { margin-bottom:30px; }
#top_main #main_text .logo img { max-width:125px; }
#top_main #main_text h2 { font-weight:bold; line-height:140%; color:#87664F; margin-bottom:20px; }
#top_main #main_text p { color:#7c7c7c; font-size:1.1em; }

	@media (min-width: 992px) and (max-width: 1199px){
		#top_main .news_wrap { max-width: 550px!important;}
		#top_main #main_text .logo { margin-bottom: 10px;}
		#top_main #main_text .text_in {padding-bottom: 2vw!important;}
		#head .head_contact .tel_unit ,#top_main #main_text h2, #top_main #main_text p {text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;}
	}
	@media (max-width: 991px){
		#top_main .image { opacity:0.6; padding-bottom:20px; }
		#top_main #main_text { position:absolute; top:0; left:0; width:calc(100% - 10px); height:100%; text-shadow:0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff; }
		#top_main #main_text .text_in { vertical-align:top; padding-top:20px; }
		#top_main #main_text h2 { font-size:2em; }
	}
	@media (min-width: 768px){
		#top_main .image { padding-bottom:7vw; }
		#top_main .text { position:absolute; top:0; left:0; width:calc(100% - 10px); height:100%; }
		#top_main #main_text { background:url(../image/contents/top/main_copyright.png) no-repeat right center; }
		#top_main #main_text .text_in { vertical-align:middle; padding-bottom:5vw; }
		#top_main #main_text h2 { font-size:3em; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		#top_main #main_text .text_in { padding-bottom: 10vw;}
		#top_main #main_news .text_in { padding-bottom: 10vw!important;}
		#top_main .news_wrap {margin: 0 auto!important;}
	}
	@media (min-width: 576px) and (max-width: 991px){
		#top_main #main_text .text_in .md_flex{display: flex; justify-content: center; max-width: 100%; margin-bottom: 10px;}
		#top_main #main_text .logo {margin-bottom: 0;}
		#top_main #main_text .text_in .md_tbl{display: table; height: 155px;}
		#top_main #main_text h2 {display: table-cell; vertical-align: middle; font-size: 2.75em; padding-left: 5px; }
		#top_main #main_text .text_in p{max-width: 100%;  font-size: 20px;}
	}
	@media (max-width: 375px){
		#top_main #main_text .logo { margin-bottom:10px; }
		#top_main #main_text h2 {margin-bottom: 10px;}
	}


#top_main #main_news .center { max-width:1400px; }
#top_main #main_news .text_in { vertical-align:bottom; padding-bottom:9vw; }
#top_main .news_wrap { position:relative; z-index:999; width:100%; max-width:700px; margin:0 0 0 auto; background:rgba(255,255,255,0.9); border-radius:50px; overflow:hidden; padding:15px; box-shadow:0 0 5px rgba(0,0,0,0.3); }
#top_main .news_wrap:after { position:absolute; top:calc(50% - 0.5em); right:15px; content:"→"; line-height:100%; }
#top_main .news_wrap > * { line-height:110%; }
#top_main .news_wrap dt { font-style:italic; padding:0 15px 0 0; font-weight:bold; }
#top_main .news_wrap .date { font-weight:bold; margin-right:15px; }
#top_main .news_wrap a { color:#444; }

	@media (max-width: 344px){
		#top_main #main_news .text_in {padding-top: 9vw;}
	}
	@media (min-width:480px) and (max-width: 575px) {
		#top_main #main_text .text_in > * { max-width: none;}
		#top_main #main_text .text_in { padding-top: 80px;}
	}
	@media (max-width: 767px){
		#top_main .news_wrap dt { padding-bottom:5px; }
	}
	@media (min-width: 768px){
		#top_main .news_wrap { display:table; }
		#top_main .news_wrap > * { display:table-cell; }
		#top_main .news_wrap dt { width:90px; text-align:right; border-right:2px solid #ccc; }
		#top_main .news_wrap dd { padding:0 0 0 15px; }
	}

#top_about { position:relative; }
#top_about .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#top_about .text .center { display:table; height:100%; }
#top_about .text .text_in { display:table-cell; vertical-align:middle; }
#top_about .text .text_in > * { max-width:550px; }
#top_about .text h2 { text-align:center; padding:0 0 15px; font-size:2.5em; font-weight:bold; border-bottom:2px dotted #ccc; margin-bottom:20px; }
#top_about .text p { line-height:200%; }
	@media (max-width: 767px){
		#top_about  { padding:60px 0; }
		#top_about .photo { position:absolute; top:0; left:0; width:100%; height:100%; background-position:65% center; opacity:0.8; }
		#top_about .text { position:relative; }
	}
	@media (min-width: 768px){
		#top_about .text { position:absolute; top:0; left:0; width:100%; height:100%; }
	}

#top_strength {}
.icon_box { border-radius:5px; overflow:hidden; margin-bottom:30px; }
.icon_box a { display:block; text-decoration:none; color:#444; }
.icon_box .text { position:relative; background:#fff; text-align:center; padding:60px 0 40px; }
.icon_box .text h3 { font-size:1.75em; font-weight:bold; }
.icon_box .text .caption { font-size:12px; color:#999; }
.icon_box .icon { position:absolute; top:-50px; left:0; width:100%; text-align:center; }
.icon_box .icon > span { display:inline-block; border:1px solid #87664F; background:#fff; border-radius:50px; padding:20px; }
.icon_box .text h3 span.flex_c{ margin-right: 5px;}

@media (min-width: 768px) and (max-width:991px){
	.icon_box .text h3 { font-size:1.25em; }
}
@media (min-width: 576px) and (max-width:767px){
	.icon_box .text h3 { font-size:1em; }
	.icon_box .text h3 span.flex_c img{ width: 60%;}
}

#course {}
.course_navi { position:relative; border-bottom-width:4px; border-bottom-style:solid; background:#fff; }
.course_navi._orange { border-bottom-color:#de652e; }
.course_navi._blue { border-bottom-color:#3494c4; }
.course_navi._green { border-bottom-color:#27665b; }
.course_navi a { width:100%; text-decoration:none; }
.course_navi .photo img { width:100%; }
.course_navi .text { text-align:center; }
.course_navi .text h3 { font-size:1.75em; font-weight:bold; }
.course_navi .text .caption { font-size:12px; color:#999; margin-bottom:20px; }
.course_navi .icon_list { font-size:14px; line-height:140%; }
.course_navi .icon_list li { display:inline-block; }
.course_navi .icon_list.c_orange li { box-shadow:0 0 3px rgba(222,101,46,0.5); }
.course_navi .icon_list.c_blue li { box-shadow:0 0 3px rgba(52,148,196,0.5); }
.course_navi .icon_list.c_green li { box-shadow:0 0 3px rgba(39,102,91,0.5); }
.course_navi.active {}
.course_navi.active:after { content:""; position:absolute; top:100%; left:calc(50% - 40px); width:0; height:0; border-width:20px 40px 20px 40px; border-style:solid; }
.course_navi._orange.active:after { border-color:#de652e transparent transparent transparent; }
.course_navi._blue.active:after { border-color:#3494c4 transparent transparent transparent; }
.course_navi._green.active:after { border-color:#27665b transparent transparent transparent; }
	@media (max-width: 575px){
		#course_navi .row > [class^="col-"] { padding:5px; }
		.course_navi.active { margin-bottom:30px; }
		.course_navi .text h3 { font-size:1.5em; }
		.course_navi .icon_list li { padding:5px 8px; margin:0 0 10px; }
		.course_navi .icon_list li br { display:none; }
	}
	@media (min-width: 576px){
		.course_navi.active { margin-bottom:50px; }
		.course_navi .text h3 { font-size:1.75em; }
		.course_navi .icon_list li { padding:8px 12px; margin:0 5px; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		.course_navi .photo { max-height:20vw; }
	}
	@media (max-width: 767px){
		.course_navi a { display:block; }
		.course_navi .photo { overflow:hidden; }
		.course_navi .text { padding:15px 5px; }
	}
	@media (min-width: 768px){
		.course_navi a { display:table; }
		.course_navi a > * { display:table-cell; vertical-align:middle; }
		.course_navi .photo { width:55%; }
	}

#course_area {}
.course { border-width:1px; border-style:solid; background:#fff; }
.course:not(.active) { display:none; }
.course .title { margin-bottom:30px; line-height:150%; }
.course_box {}
.course_box .box_title { text-align:center; font-size:1.15em; padding:20px 0; }
.course_box .box_in { padding:20px 30px; color:#808080;}
	#primary { border-color:#de652e; }
	#middle { border-color::#3494c4; }
	#high { border-color::#27665b; }
	@media (max-width: 575px){
	}
	@media (min-width: 576px){
	}
	@media (max-width: 767px){
		.course { padding:30px 20px; }
		.course .title { font-size:1.5em; }
	}
	@media (min-width: 768px){
		.course { padding:50px; }
		.course .title { text-align:center; font-size:1.75em; }
	}


#flow {}
#flow .flow_area { background:rgba(255,255,255,0.5); }
.flow_unit { position:relative; text-align:center; }
.flow_unit .text h3 { color:#87664f; background:#fff; border:1px solid #87664f; border-radius:50px; padding:5px; max-width:300px; margin:0 auto 15px;}
.flow_unit .text h3 .comment {display: block; font-size: 12px;}
.flow_unit .text p { font-size:0.9em; }
.flow_unit.fa_a:after { color:#e5e0dc; font-size:2.15em; position:absolute; }
	@media (max-width: 575px){
		.flow_unit { display:table; width:100%; }
		.flow_unit.fa_a { margin-bottom:50px; }
		.flow_unit > * { display:table-cell; vertical-align:top; }
		.flow_unit .photo { width:45%; }
		.flow_unit .photo img { width:100%; }
		.flow_unit .text { padding:10px 0 0; }
		.flow_unit .text p { text-align:left; }
		.flow_unit.fa_a:after { content:"\f078"; bottom:-1.5em; left:calc(50% - 1em); }
	}
	@media (min-width: 576px){
		.flow_unit .photo { padding:0 20px 15px; }
		.flow_unit .text h3 { font-size:1.15em; }
		.flow_unit.fa_a:after { content:"\f054"; right:-17%; top:calc(50% - 1em); }
	}
	@media (max-width: 767px){
		#flow .flow_area { padding:50px 25px; }
	}
	@media (min-width: 768px){
		#flow .flow_area { padding:80px 50px; }
	}

#space {}
#space .space_wrap { color:#fff; background:url(../image/contents/top/image8.jpg) no-repeat center center / cover; }
	@media (max-width: 767px){
		#space .space_wrap p { text-align:left; line-height:200%; }
	}
	@media (min-width: 768px){
		#space .space_wrap p { text-align:center; line-height:250%; }
	}

#teachers {}
.teacher_unit { margin-bottom:50px; }
.teacher_unit.bor_b { border-bottom:2px dotted #ddd; padding-bottom:50px; }
.teacher_unit .title { position:relative; border-bottom:1px dotted #ddd; margin-bottom:20px; padding-bottom:10px; }
.teacher_unit .title > span { display:inline-block; vertical-align:middle; line-height:120%; }
.teacher_unit .title .name { color:#e0323b; }
.teacher_unit .title .ruby { font-weight:bold; color:#ccc; letter-spacing:2px; }
.teacher_unit .title .tag { position:absolute; right:0; top:calc(50% - 15px); border:1px solid #e0323b; color:#e0323b; border-radius:3px; }
.profile_box { border:2px dashed #e0323b; background:#fff; }
	.profile_box._orange { border-color:#de652e; }
.profile_box .profile { margin-bottom:20px; }
.profile_box .profile dl dt { font-weight:bold; font-size:1.25em; letter-spacing:2px; }
.teacher_unit .title .tag.c_orange { border-color:#de652e; }
	@media (max-width: 409px){
		.teacher_unit .title .tag.c_orange{display: block; position: relative; margin-top: 5px; max-width: 225px;}
	}
	@media (max-width: 575px){
		.teacher_unit .photo { text-align:center; }
		.teacher_unit .photo img { max-width:250px; }
		.teacher_unit .title .name { font-size:2.25em; }
		.teacher_unit .title .tag { padding:2px 8px; font-size:12px; }
	}
	@media (min-width: 576px){
		.teacher_unit .title .name { font-size:2.75em; }
		.teacher_unit .title .tag { padding:2px 15px; }
	}
	@media (min-width: 576px) and (max-width: 725px){
		.teacher_unit .title .tag.c_orange{display: block; position: relative; margin-top: 5px; max-width: 280px;}
	}
	@media (max-width: 767px){
		.profile_box { padding:20px; }
		.profile_box .profile dl { border-bottom:4px solid #e0323b; }
			.profile_box .profile.c_orange dl { border-bottom-color:#de652e; }
		.profile_box .profile dl dd { padding:0 0 15px; }
	}
	@media (min-width: 768px){
		.profile_box { padding:30px; }
		.profile_box .profile dl { display:table; width:100%; }
		.profile_box .profile dl > * { display:table-cell; vertical-align:middle; }
		.profile_box .profile dl dt { width:120px; padding:0 0 0 10px; border-right:4px solid #e0323b; }
		.profile_box .profile dl dd { padding:0 0 0 20px; }
			.profile_box .profile.c_orange dt { border-right-color:#de652e; }
	}
	@media (min-width: 1025px){
		.teacher_unit .title .ruby { padding-left:20px; }
	}
	@media (max-width: 1024px){
		.teacher_unit .title .ruby { display:block; }
	}

#top_information {}
#top_information .wrapper { background:url(../image/contents/top/image9.jpg) no-repeat center center / cover; }
#top_information .info_list { margin-top:20px; }
.info_unit { position:relative; margin-bottom:20px; }
.info_unit a { text-decoration:none; color:#444; }
.info_unit .tag { display:inline-block; vertical-align:middle; line-height:100%; padding:8px 5px; text-align:center; color:#FFF; background:#87664F; border-radius:3px; }
.info_unit .date { display:inline-block; vertical-align:middle; color:#999; padding-left:20px; }
.info_unit .text h3 { line-height:130%; border-bottom:1px dotted #ddd; padding:0 0 8px; font-size:1.25em; }
	@media (max-width: 575px){
		.info_unit a { display:table; width:100%; }
		.info_unit a > * { display:table-cell; vertical-align:middle; }
		.info_unit .photo { width:33%; min-height:100%; }
		.info_unit .photo img { width:100%; }
		.info_unit .text { background:#fff; padding:15px; }
		.info_unit .meta { margin-bottom:10px; }
		.info_unit .tag { font-size:13px; min-width:80px; }
	}
	@media (min-width: 576px){
		.info_unit a { display:block; }
		.info_unit .photo { margin-bottom:20px; }
		.info_unit .meta { margin-bottom:20px; }
		.info_unit .tag { min-width:100px; }
	}


	@media (max-width: 575px){
		#top_strength,
		#course,
		#flow,
		#space,
		#teachers,
		#top_information { padding-top:70px; }
	}
	@media (min-width: 576px){
		#top_strength,
		#course,
		#flow,
		#space,
		#teachers,
		#top_information { padding-top:100px; }
	}

/*===================================================================
	#privacy
===================================================================*/
#privacy .privacy .box{padding: 50px 30px;}

#privacy .privacy h3.hl_2{margin-bottom: 10px; font-size: 1.25em; padding: 0 0 15px 0; color: #4B4B4B;}
/*===================================================================
	common
===================================================================*/
/* 各ページリンク */
.page_link { position:relative; border:1px solid #ccc; margin-bottom:30px; }
.page_link a { display:table; width:100%; text-decoration:none; color:#444; }
.page_link a > * { display:table-cell; vertical-align:middle; }
.page_link .photo { width:35%; }
.page_link .text { padding:0 0 0 25px; font-size:1.25em; }
body.pc .page_link a:hover { background:#e8f1f1; }

/* table */
.tbl_1 { width:100%; }
.tbl_1 tbody th, .tbl_1 tbody td { border-bottom:1px dotted #ccc; }
.tbl_1 thead th { font-weight:bold; font-size:1.1em; }
.tbl_1 tbody th { width:150px; }
	@media (max-width: 575px){
		.tbl_1 { font-size:0.9em; }
		.tbl_1 th, .tbl_1 td { padding:10px; }
		#company .tbl_1 tbody th { width:90px; }
	}
	@media (min-width: 576px){
		.tbl_1 th, .tbl_1 td { padding:15px 30px; }
	}

/* お知らせや強みのbox（box-shadow用） */
.box { box-shadow:0 0 5px #ccc; }


/*===================================================================
	#about
===================================================================*/
#about_1 { position:relative; }
#about_1 .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#about_1 .text .center { display:table; height:100%; }
#about_1 .text .text_in { display:table-cell; }
#about_1 .text .text_in > * { max-width:630px; }
#about_1 .text h2 { text-align:center; font-weight:bold; }
	@media (max-width: 575px){
		#about_1 { padding-bottom:50px; }
		#about_1 .center { padding:0; }
		#about_1 .text .text_in { vertical-align:bottom; }
		#about_1 .text h2 { text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff; }
	}
	@media (min-width: 576px){
		#about_1 .text .text_in { vertical-align:middle; }
	}
	@media (min-width: 576px) and (max-width: 768px){
		#about_1 .text h2 { text-align:left; font-size:1.25em; }
	}
	@media (min-width: 768px){
		#about_1 .text h2 { font-size:1.75em; }
	}


#about_3 { color:#fff; margin-top:50px; background:url(../image/contents/about/back.jpg) no-repeat center center / cover; }
#about_3 .title{ text-align: center; font-weight: bold; margin-bottom: 60px; text-shadow: 0 3px 0 #e0323b; }
#about_3 .story{ font-weight: bold; font-size: 2.5em; text-align: center;}
	@media (max-width: 575px){
		#about_3 .title{ font-size:1.4em; }
		#about_3.about_3_wrap p { line-height:200%; }
	}
	@media (min-width: 576px){
		#about_3 .title{ font-size:1.75em; }
		#about_3.about_3_wrap p { line-height:250%; }
	}



/*===================================================================
	#strength
===================================================================*/
#strength .h_img { position:relative; }
#strength .h_img .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#strength .h_img .text .center { display:table; height:100%; }
#strength .h_img .text .text_in { display:table-cell; vertical-align:middle; }
#strength .h_img .text h2 { text-align:center; font-weight:bold; }
#strength .h_img .text h2 .main { display:inline-block; }
#strength .h_img .text h2 .sub { display:block; }
#strength .h_img .text h2 .main::after{ content:""; display: block; margin:0 -10% 5px; width:120%; min-width:6em; border-bottom: 1px dotted #FFF;}
	@media (max-width: 575px){
		#strength .h_img .text h2 .main { font-size:1.75em; }
	}
	@media (min-width: 576px){
		#strength .h_img .text h2 .main { font-size:2.5em; }
		#strength .h_img .text .text_in._right > * { margin:0 0 0 auto; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		#strength .h_img .text .text_in > * { max-width:380px; }
	}
	@media (min-width: 768px){
		#strength .h_img .text .text_in > * { max-width:630px; }
	}


/*===================================================================
	#information
===================================================================*/
#information_detail .bg_common img{box-shadow: 0 2px 3px #ccc;}
#information_detail .bg_common .img_rect{box-shadow: 0 2px 3px #ccc;}
#information_detail .title { border-bottom: 2px dotted #ccc; padding: 0 0 20px; margin-bottom: 40px; line-height:140%; }
#information_detail .tag { display:inline-block; vertical-align:middle; line-height:100%; text-align:center; color:#FFF; background:#87664F; border-radius:3px; margin-right:10px; }
	@media (max-width: 575px){
		#information_detail .box_in { padding:25px 20px; }
		#information_detail .tag { font-size:13px; min-width:80px; padding:5px 10px; }
		#information_detail .title { font-size: 1.25em; }
	}
	@media (min-width: 576px){
		#information_detail .box_in { padding:50px; }
		#information_detail .tag { min-width:100px; padding:8px 5px; }
		#information_detail .title { font-size: 1.75em; }
	}

.info_box { margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid #ddd; }
.info_box a { display:table; width:100%; text-decoration:none; color:#444; }
.info_box a > * { display:table-cell; }
.info_box .photo { width:25%; box-shadow: 0 2px 3px #ccc; }
.info_box .text { padding:0 0 0 25px; }
.info_box .text h3 { font-weight:bold; }
.info_box .tag { display:inline-block; vertical-align:middle; line-height:100%; text-align:center; color:#FFF; background:#87664F; border-radius:3px; margin-right:10px; }
	@media (max-width: 575px){
		.info_box a > * { vertical-align:top; }
		.info_box .text h3 { font-size:1.15em; }
		.info_box .tag { font-size:13px; min-width:80px; padding:5px 10px; }
	}
	@media (min-width: 576px){
		.info_box a > * { vertical-align:middle; }
		.info_box .text h3 { font-size:1.5em; padding:10px 0 0; }
		.info_box .tag { min-width:100px; padding:8px 5px; }
	}


/*===================================================================
	contact
===================================================================*/
.form_button .button {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 100%;
    position: relative;
    border: 1px solid #50A243;
    color: #50A243;
    background: #fff;
    padding: 12px 25px;
    min-width: 250px;
}
@media (min-width: 768px){
#contact tr.first th, #contact tr.first td{padding: 80px 30px 30px 30px!important;}
#contact tr.last th, #contact tr.last td{padding: 30px 30px 80px 30px!important;}
}
@media (max-width: 767px){
	#contact tr.first th{padding-top: 50px !important;}
	#contact tr.last td{padding-bottom: 50px !important;}
}

/*===================================================================
	28
===================================================================*/
#top_28 .unit{ box-shadow: 0 2px 3px #ccc; background: #F8F8F8;}
#top_28 .unit a{ padding: 25px 0; display: block; color: #e0323b; text-decoration: none;}
#top_28 .unit.unsubscribe  a{ color: #86664f; }
#top_28 .unit a .image{ font-size: 4em;}
#top_28 .unit a .text{font-size: 1.5em;}


/*===================================================================
	#entry
===================================================================*/
.entry { text-align:left; }
.entry img { height:auto !important; }
.entry p { margin-bottom:15px; }
.entry ul,
.entry ol { list-style:none; margin-bottom:20px; }
.entry ul > li,
.entry ol > li { position:relative; margin:0 0 5px 20px; }
.entry ul > li:before { color:#D0767D; content:"■"; font-size:10px; position:absolute; top:3px; left:-18px; }
.entry ul > li > ul > li:before { color:#3a629c; content:"\f105"; }
.entry ol { counter-reset:ol_li; }
.entry ol > li:before { color:#bd3e47; counter-increment:ol_li; content:counter(ol_li)"."; position:absolute; top:1px; left:-20px; font-weight:bold; }
.entry ol > li > ol > li:before { color:#f49901; }

.entry dl {}
.entry dt { color:#000;}
.entry dd { margin-bottom:20px; }

.entry table { margin-bottom:50px; width:100%; box-shadow: 0 0 3px #999;}
.entry th,
.entry td { padding:30px; border-bottom: 1px solid #ccc; vertical-align: middle; }
.entry thead th { background:#006b4d; color:#fff; font-weight:bold; }
.entry thead td { background:#4b9681; color:#fff; font-weight:bold; }
.entry tbody th {font-weight:bold; border-left: 50px solid #fff; position: relative;}
.entry tbody td {border-right: 50px solid #fff; }
.entry tbody tr > th:nth-child(1) { width:27%; max-width:280px; }
@media(max-width: 991px){
.entry .zip_block{display: block;}
}
@media (min-width: 768px) and (max-width: 991px){
	.entry tbody tr > th:nth-child(1) { width:35%;}
}

@media (min-width: 768px){
	.entry tbody th span{position: absolute; right:10px;}
	.entry tbody .first th, .entry tbody .first td {border-top: 25px solid #fff;}
	.entry tbody .last th, .entry tbody .last td {border-bottom: 25px solid #fff;}

}
@media (max-width: 767px){
	.tbl_form, .tbl_form tbody, .tbl_form tr, .tbl_form th, .tbl_form td {display: block;}
	.entry tbody tr > th:nth-child(1) {width: 100%; max-width: unset;     padding-bottom: unset;}
	.entry tbody td { border-left: 10px solid #FFF; border-right: 10px solid #fff;}
	.entry tbody th { border-bottom:unset;border-left: 0px solid #fff;}
	.entry tbody th span {margin-left: 10px;}
	.entry th, .entry td {padding: 25px 15px;}

}

/*===================================================================
	hl
===================================================================*/
.hl_1 { position:relative; }
.hl_1 > span { line-height:100%; }
.hl_1 .en { color: #87664F; }
.hl_1 .ja { color:#969696; }
	@media (max-width: 575px){
		.hl_1 { margin-top:-90px; padding-bottom:40px; }
		.hl_1 > span { display:block; }
		.hl_1 .en { font-size: 50px; margin-bottom:10px; }
		.hl_1 .ja { font-size: 16px;}
	}
	@media (min-width: 576px){
		.hl_1 > span { display:inline-block; vertical-align:middle; }
		.hl_1 .en { font-size:100px; }
		.hl_1 .ja { margin-left:20px; padding-left:20px; border-left:1px solid #ccc; font-size: 20px; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		.hl_1 { margin-top:-110px; padding-bottom:50px; }
	}
	@media (min-width: 768px){
		.hl_1 { margin-top:-130px; padding-bottom:60px; }
	}
	@media (min-width: 1300px){
		.hl_1 { left:-100px; }
	}

.hl_2 { position:relative; line-height:100%; margin-bottom:30px; border-bottom:1px solid #ddd; }
.hl_2 > span { display:inline-block; vertical-align:middle; padding:0 0 15px; }
.hl_2 .main { font-size:1.55em; color:#e0323b; }
.hl_2 .sub { color:#999; }
	@media (max-width: 575px){
		.hl_2 .main:after { content:""; position:absolute; top:100%; left:0; width:50%; border-bottom:1px solid #e0323b; }
		.hl_2 .main.c_orange:after { border-bottom-color:#de652e; }
		.hl_2 .main.c_blue:after { border-bottom-color:#3494c4; }
		.hl_2 .main.c_green:after { border-bottom-color:#27665b; }
		.hl_2 .sub { display:block; }
	}
	@media (min-width: 576px){
		.hl_2 .main { border-bottom:1px solid #e0323b; }
		.hl_2 .main.c_orange { border-bottom-color:#de652e; }
		.hl_2 .main.c_blue { border-bottom-color:#3494c4; }
		.hl_2 .main.c_green { border-bottom-color:#27665b; }
		.hl_2 .sub { padding-left:20px; }
	}


.hl_3 { margin-bottom:30px; font-size:1.5em; background:#87664F; padding:20px; line-height:100%; font-weight:bold; border-radius:3px; color:#FFF; box-shadow:0px 5px 5px -4px rgba(112,112,112,0.6); }
.hl_3 > span { border-left:3px solid #FFF; padding-left:10px; }

.hl_4 { font-weight: bold; border-bottom: 1px dotted #DEDEDE; color: #87664F; font-size: 1.25em; position: relative; padding:10px 15px; line-height:140%; }
.hl_4::before{ content: ""; border-right: 3px solid #E5E5E5; position: absolute; left:0; top:5px; width:0; height:calc(100% - 10px); }


/*===================================================================
	button
===================================================================*/
.button, a.button { display:inline-block; position:relative; text-align:center; line-height:100%; text-decoration:none; }
.button i.fa { margin:0 5px; }
.button i.arrow { background:url(../image/contents/arrow.png) no-repeat center right/ contain; width:25px; height:14px;
					position:absolute; right:20px; }
.button i.arrow_cg { background:url(../image/contents/arrow_cg.jpg) no-repeat center right/ contain; width:25px; height:14px;position:absolute; right:20px; }
.button i.arrow_cg2 { background:url(../image/contents/arrow_cg2.jpg) no-repeat center right/ contain; width:25px; height:14px;position:absolute; left:20px; }
.button i.fa-chevron-right { position:absolute; right:10px; font-size:12px; }
.button i.fa-chevron-left { position:absolute; left:10px; font-size:12px; }

.button._circle,
a.button._circle { border-radius:50px; color:#87664F; padding:15px 25px; font-weight:bold; border:1px solid #87664F; }
.button._circle img { margin-right:5px; }
body.pc .button._circle:hover { opacity:0.6; }
	@media (max-width: 575px){
		.button._circle { max-width:250px; }
	}

.button._type1,
a.button._type1,
.button._type2,
a.button._type2 { border:1px solid #87664F; color:#87664F; font-weight: bold; background:#fff; width:100%; margin:0 auto; padding:15px 10px; }
	@media (max-width: 575px){
		.button._type1,
		.button._type2 { max-width:70vw; }
	}
	@media (min-width: 576px){
		.button._type1,
		.button._type2 { max-width:350px; }
	}

.button._type1,
a.button._type1 { border-radius:50px; }
.button._type1._w3,
a.button._type1._w3{ max-width: calc(100% / 3)!important;}
body.pc .button._type_1:hover { background:#87664F; }
body.pc .button._type_1:hover a {color: #FFF;}

.button._back { border:1px solid #999; background:#999; }
.button._more { border:1px solid #fff; font-size:14px; }

.form_button .button{
	display: inline-block;
    position: relative;
    text-align: center;
    line-height: 100%;
    position: relative;
	border: 1px solid #87664F;
    color: #87664F;
    font-weight: bold;
    border-radius: 50px;
    background: #fff;
	padding: 15px 25px;
	min-width: 250px;
}
@media (max-width: 575px){
	.form_button .right,.form_button .left{text-align: center;}
	.button, a.button {width: 100%;}
}

@media (min-width: 576px){
	.form_button .right{text-align: right;}
}


/*===================================================================
	color
===================================================================*/
/* background */
.bg0 { background-color:#fff; }
.bg_brown{background: #4F4447;}
.bg_l_brown{background: #F3F1ED}
.bg_common{ background:url(../image/contents/back.jpg) no-repeat center center / cover;}
.bg_orange { background-color:#de652e; }
.bg_blue { background-color:#3494c4; }
.bg_green { background-color:#27665b; }

.c_ { color:#444 !important; }
.c0 { color:#fff !important; }
.cg{color: #696969;}
.c_g{color: #838383;}
.c_brown { color:#87664f; }
.c_red { color:#e0323b; }
.c_orange { color:#de652e !important; }
.c_blue { color:#3494c4 !important; }
.c_green { color:#27665b !important; }


/*===================================================================
	pc / sp
===================================================================*/
.mb0  { margin-bottom:0 !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb100 { margin-bottom:100px !important; }

.disp_b { display:block; }
.disp_ib { display:inline-block; }
.disp_tbl { display:table; width:100%; height:100%; }
.disp_tbl2 { display:table;}
.disp_td { display:table-cell; vertical-align:middle; }


.flex{display: flex!important;}
.flex_c{display: flex; align-items: center; justify-content: center;}

.bor5 { display:block; border-radius:5px; overflow:hidden; }
.bor10 { display:block; border-radius:10px; overflow:hidden; }
.bor50 { display:block; border-radius:50%; overflow:hidden; }

.img_sq, .img_rect, .img_back { background-position:center center; background-repeat:no-repeat; background-size:cover; }
.img_sq > img, .img_rect > img, .img_back > img { visibility:hidden; }

.parallax, .parallax:before, .parallax:after { transition:all .7s; }
body.pc .parallax[data-parallax-in="vertical"],
body.pc .parallax[data-parallax-in="vertical2"],
body.pc .parallax[data-parallax-in="vertical3"],
body.pc .parallax[data-parallax-in="vertical4"]  { opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { opacity:0 !important; }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on)  { transform:translateY(30px); -webkit-transform:translateY(30px); -ms-transform:translateY(30px); }
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on) { transform:translateY(60px); -webkit-transform:translateY(60px); -ms-transform:translateY(60px); }
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { transform:translateY(90px); -webkit-transform:translateY(90px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { transform:translateY(120px); -webkit-transform:translateY(120px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="left"] { left:0; }
body.pc .parallax[data-parallax-in="left"]:not(.parallax_on) { left:-100vw; }
body.pc .parallax[data-parallax-in="right"] { right:0; }
body.pc .parallax[data-parallax-in="right"]:not(.parallax_on) { right:-100vw; }

/* font */
.mincho { font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
.sans { font-family:'Yantramanav', sans-serif; }
.fa_b:before,
.fa_a:after { font-family:"Font Awesome 5 Free"; display:inline-block; font-weight:900; font-style:normal; font-variant:normal; text-rendering:auto;
	line-height:1; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; }

@media (min-width: 768px){
	.pc_none { display:none !important; }
}
@media (max-width: 767px){
	.sp_none { display:none !important; }
	.sp_table_wrap { overflow-x:auto; width:100%; white-space:nowrap; }
	.sp_table_wrap::-webkit-scrollbar { height:10px; }
	.sp_table_wrap::-webkit-scrollbar-track { background:#F1F1F1; }
	.sp_table_wrap::-webkit-scrollbar-thumb { background:#BCBCBC; }
	.sp_table_wrap table { width:100%; font-size:13px;
		-webkit-text-size-adjust:100%; -moz-text-size-adjust:none; -ms-text-size-adjust:100%; text-size-adjust:100%; }
}
