@charset "utf-8";
/*
	Last Update:2019/10/11
	Auther: iw
*/
/*===================================================================
	#top
===================================================================*/
#main_image { position:relative; }
#main_image .unit .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#main_image .unit .center { display:table; height:100%; }
#main_image .unit .text_in { display:table-cell; }
	@media (max-width: 767px){
		#main_image .unit .center { padding-bottom:50px; }
		#main_image .unit .text_in { vertical-align:bottom; }
		#main_image .unit .text img { width:74%; }
	}
	@media (min-width: 768px){
		#main_image,
		#main_image .unit { max-height:calc(100vh - 90px); }
		#main_image .unit .text_in { vertical-align:middle; }
		#main_image .unit .text img { width:58%; }
	}

#top_1,
#top_2 { position:relative; overflow:hidden; }
#top_1 .center,
#top_2 .center { position:relative; }
#top_1 .center:before,
#top_2 .center:before { position:absolute; top:-100px; opacity:0.15; line-height:100%;
	font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
#top_1 { background:url(../../common/image/contents/top/back.jpg) no-repeat center center / cover; }
#top_1:before { content:""; background:rgba(168,196,89,0.8); position:absolute; top:0; left:0; width:100%; height:100%;
	background: -moz-linear-gradient(top, rgba(168,196,89,0.8) 0%, rgba(15,122,69,0.8) 100%);
	background: -webkit-linear-gradient(top, rgba(168,196,89,0.8) 0%, rgba(15,122,69,0.8) 100%);
	background: linear-gradient(to bottom, rgba(168,196,89,0.8) 0%, rgba(15,122,69,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#ccA8C459', endColorstr='#cc0F7A45' ); }
#top_1 .center:before { content:"Service"; color:#fff; }
#top_2 .center:before { content:"Features"; color:#ddd; }
	@media (max-width: 575px){
		#top_1 .center:before,
		#top_2 .center:before { font-size:8em; left:-10px; }
	}
	@media (min-width: 576px){
		#top_1 .center:before,
		#top_2 .center:before { font-size:13em; left:-100px; }
	}

.box_unit { position:relative; box-shadow:0 0 3px #999; margin-bottom:40px; }
.box_unit a { display:block; text-decoration:none; color:#444; }
.box_unit .photo { text-align:center; }
.box_unit .text { text-align:center; padding:10px 0; }
.box_unit h3 { line-height:140%; }
	@media (max-width: 575px){
		#top_2 .row { margin:0 -10px; }
		#top_2 .row > * { padding:0 5px; }
		#top_2 .box_unit .photo { padding:10px 25px 0; }
		.box_unit h3 { font-size:1.25em; }
	}
	@media (min-width: 576px){
		.box_unit .photo { padding:10px 35px 0; }
		.box_unit h3 { font-size:1.75em; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		.box_unit .photo img { max-width:150px; }
	}


#top_info {}
.info_unit { position:relative; box-shadow:0 2px 3px #ccc; margin-bottom:20px; }
.info_unit a { display:table; width:100%; text-decoration:none; color:#444; }
.info_unit a > * { display:table-cell; vertical-align:middle; }
.info_unit .text { padding:10px 15px; }
.info_unit h3 { line-height:130%; }
.info_unit .photo .new { position:absolute; top:0; left:0; color:#fff; font-size:12px; padding:3px 10px; }
.date { color: #888888;}
.tag { display:inline-block; font-size:12px; margin:0 5px; line-height:100%;     padding: 3px 10px; border: 1px solid #87664F; color: #FFF; background: #87664F; }
	@media (max-width: 575px){
		.info_unit .photo { width:30%; }
	}
	@media (min-width: 576px){
		.info_unit .photo { width:100px; }
	}
	@media (max-width: 768px){
		#top_info .row > .col-sm-6:first-child { margin-bottom:30px; }
	}


/*===================================================================
	common
===================================================================*/
/* 各ページリンク */
.page_link { position:relative; border:1px solid #ccc; margin-bottom:30px; }
.page_link a { display:table; width:100%; text-decoration:none; color:#444; }
.page_link a > * { display:table-cell; vertical-align:middle; }
.page_link .photo { width:35%; }
.page_link .text { padding:0 0 0 25px; font-size:1.25em; }
body.pc .page_link a:hover { background:#e8f1f1; }

/* table */
.tbl_1 { width:100%; }
.tbl_1 tbody th, .tbl_1 tbody td { border-bottom:1px dotted #ccc; }
.tbl_1 thead th { font-weight:bold; font-size:1.1em; }
.tbl_1 tbody th { width:150px; }
	@media (max-width: 575px){
		.tbl_1 { font-size:0.9em; }
		.tbl_1 th, .tbl_1 td { padding:10px; }
		#company .tbl_1 tbody th { width:90px; }
	}
	@media (min-width: 576px){
		.tbl_1 th, .tbl_1 td { padding:15px 30px; }
	}

/* お知らせや強みのbox */
.box { box-shadow:0 0 5px #ccc; }
.box_in { padding:50px; }
.box_title { font-size: 1.5em; border-bottom:2px solid #ddd; padding:0 0 10px; margin:0 0 20px; }
	@media (max-width: 575px){
		.box_in { padding:30px; }
	}
	@media (min-width: 576px){
		.box_in { padding:50px; }
	}

/*===================================================================
	#information
===================================================================*/
	#information_detail .bg_common img{box-shadow: 0 2px 3px #ccc;}
	#information_detail .bg_common .img_rect{box-shadow: 0 2px 3px #ccc;}
	#information_detail .title { font-size: 1.75em; border-bottom: 2px dotted #ccc; padding: 0 0 20px; margin-bottom: 40px;
	}
	@media (max-width: 575px){
		#information_detail .title { line-height:140%; }
	}

.info_box { margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid #ddd; }
.info_box a { display:table; width:100%; text-decoration:none; color:#444; }
.info_box a > * { display:table-cell; }
.info_box .photo { width:25%; box-shadow: 0 2px 3px #ccc; }
.info_box .text { padding:0 0 0 25px; }
.info_box .text h3 { font-weight:bold; }

	@media (max-width: 575px){
		.info_box a > * { vertical-align:top; }
		.info_box .text h3 { font-size:1.15em; }
		.box{padding: 30px 15px;}
	}
	@media (min-width: 576px){
		.info_box a > * { vertical-align:middle; }
		.info_box .text h3 { font-size:1.5em; padding:10px 0 0; }
		.box { box-shadow:0 0 5px #ccc; padding:50px; }
	}

/*===================================================================
	contact
===================================================================*/
.form_button .button {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 100%;
    position: relative;
    border: 1px solid #50A243;
    color: #50A243;
    background: #fff;
    padding: 12px 25px;
    min-width: 250px;
}
@media (min-width: 768px){
#contact tr.first th, #contact tr.first td{padding: 80px 30px 30px 30px!important;}
#contact tr.last th, #contact tr.last td{padding: 30px 30px 80px 30px!important;}
}
@media (max-width: 767px){
	#contact tr.first th{padding-top: 50px !important;}
	#contact tr.last td{padding-bottom: 50px !important;}
}
/*===================================================================
	#entry
===================================================================*/
.entry { text-align:left; }
.entry img { height:auto !important; }
.entry p { margin-bottom:15px; }
.entry ul,
.entry ol { list-style:none; margin-bottom:20px; }
.entry ul > li,
.entry ol > li { position:relative; margin:0 0 5px 20px; }
.entry ul > li:before { color:#D0767D; content:"■"; font-size:10px; position:absolute; top:3px; left:-18px; }
.entry ul > li > ul > li:before { color:#3a629c; content:"\f105"; }
.entry ol { counter-reset:ol_li; }
.entry ol > li:before { color:#bd3e47; counter-increment:ol_li; content:counter(ol_li)"."; position:absolute; top:1px; left:-20px; font-weight:bold; }
.entry ol > li > ol > li:before { color:#f49901; }

.entry dl {}
.entry dt { color:#000;}
.entry dd { margin-bottom:20px; }

.entry table { margin-bottom:50px; width:100%; box-shadow: 0 0 3px #999;}
.entry th,
.entry td { padding:30px; border-bottom: 1px solid #ccc; vertical-align: middle; }
.entry thead th { background:#006b4d; color:#fff; font-weight:bold; }
.entry thead td { background:#4b9681; color:#fff; font-weight:bold; }
.entry tbody th {font-weight:bold; border-left: 50px solid #fff; position: relative;}
.entry tbody td {border-right: 50px solid #fff; }
.entry tbody tr > th:nth-child(1) { width:27%; max-width:280px; }

@media (min-width: 768px) and (max-width: 991px){
	.entry tbody tr > th:nth-child(1) { width:35%;}
}

@media (min-width: 768px){
	.entry tbody th span{position: absolute; right:10px;}
	.entry tbody .first th, .entry tbody .first td {border-top: 25px solid #fff;}
	.entry tbody .last th, .entry tbody .last td {border-bottom: 25px solid #fff;}

}
@media (max-width: 767px){
	.tbl_form, .tbl_form tbody, .tbl_form tr, .tbl_form th, .tbl_form td {display: block;}
	.entry tbody tr > th:nth-child(1) {width: 100%; max-width: unset;     padding-bottom: unset;}
	.entry tbody td { border-left: 10px solid #FFF; border-right: 10px solid #fff;}
	.entry tbody th { border-bottom:unset;border-left: 0px solid #fff;}
	.entry tbody th span {margin-left: 10px;}
	.entry th, .entry td {padding: 25px 15px;}

}

/*===================================================================
	hl
===================================================================*/
.hl_1 { font-weight:bold; border-bottom:3px solid #ddd; margin-bottom:30px; }
.hl_1 > span { display:inline-block; position:relative; background:url(../image/contents/hl_1.png) no-repeat; }
.hl_1 > span:after { content:""; width:100%; position:absolute; bottom:-3px; left:0; border-bottom:3px solid #51a243; }
	@media (max-width: 575px){
		.hl_1 { font-size:1.75em; }
		.hl_1 > span { padding:0 5px 5px 45px; background-size: 35px auto; background-position:0 3px; }
	}
	@media (min-width: 576px){
		.hl_1 { font-size:2.25em; }
		.hl_1 > span { padding:0 5px 5px 50px; background-position:0 9px; }
	}

.hl_2 { line-height:100%; margin-bottom:50px; }
.hl_2 > * { vertical-align:middle; }
.hl_2.c0 .sub { border-color:#fff; }
	@media (max-width: 767px){
		.hl_2 > * { display:block; }
		.hl_2 .main { font-size:2em; line-height:170%; }
	}
	@media (min-width: 768px){
		.hl_2 .main { padding-right:15px; font-size:2.5em; }
		.hl_2 .sub { padding-left:15px; border-left:1px solid #444; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		.hl_2 .main { font-size:2.25em; }
	}

.hl_3 { margin-bottom:30px; font-size:1.5em; background:#87664F; padding:20px; line-height:100%; font-weight:bold; border-radius:3px; color:#FFF; box-shadow:0px 5px 5px -4px rgba(112,112,112,0.6); }
.hl_3 > span { border-left:3px solid #FFF; padding-left:10px; }



/*===================================================================
	button
===================================================================*/
.button, a.button { display:inline-block; position:relative; text-align:center; line-height:100%; }
.button, a.button, .button > a { text-decoration:none; color: #87664F;  display: block;  padding:10px; }
.button i.fa { margin:0 5px; }
.button i.arrow { background:url(../image/contents/arrow.png) no-repeat center right/ contain; width:25px; height:14px;
					position:absolute; right:20px; }
.button i.arrow_cg { background:url(../image/contents/arrow_cg.jpg) no-repeat center right/ contain; width:25px; height:14px;position:absolute; right:20px; }
.button i.arrow_cg2 { background:url(../image/contents/arrow_cg2.jpg) no-repeat center right/ contain; width:25px; height:14px;position:absolute; left:20px; }
.button i.fa-chevron-right { position:absolute; right:10px; font-size:12px; }
.button i.fa-chevron-left { position:absolute; left:10px; font-size:12px; }

.button._circle,
a.button._circle {border-radius: 50px; color: #87664F; padding: 15px 25px; font-weight: bold; border: 1px solid;}
body.pc .button._circle:hover { opacity:0.6; }
a.button._circle img{ margin-right: 5px;}
	@media (max-width: 575px){
		.button._circle { max-width:250px; }
	}

.button._type_1,
a.button._type_1 { position:relative; display:block; border:1px solid #87664F; max-width:300px; margin:0 auto; color:#87664F; border-radius: 50px;}
body.pc .button._type_1:hover { background:#87664F; }
body.pc .button._type_1:hover a {color: #FFF;}

.button._back { border:1px solid #999; background:#999; }
.button._more { border:1px solid #fff; font-size:14px; }

.form_button .button{
	display: inline-block;
    position: relative;
    text-align: center;
    line-height: 100%;
    position: relative;
	border: 1px solid #87664F;
    color: #87664F;
    font-weight: bold;
    border-radius: 50px;
    background: #fff;
	padding: 15px 25px;
	min-width: 250px;
}
@media (max-width: 575px){
	.form_button .right,.form_button .left{text-align: center;}
	.button, a.button {width: 100%;}
}

@media (min-width: 576px){
	.form_button .right{text-align: right;}
}


/*===================================================================
	color
===================================================================*/
/* background */
.bg0 { background-color:#fff; }
.bg_brown{background: #4F4447;}
.bg_l_brown{background: #F3F1ED}
.bg_common{ background:url(../image/contents/back.jpg) no-repeat center center / cover;}

.c_ { color:#444 !important; }
.cg{color: #696969;}
.c_g{color: #838383;}
.c0 { color:#fff !important; }

/*===================================================================
	pc / sp
===================================================================*/
.mb0  { margin-bottom:0 !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb100 { margin-bottom:100px !important; }

.disp_b { display:block; }
.disp_ib { display:inline-block; }
.disp_tbl { display:table; width:100%; height:100%; }
.disp_tbl2 { display:table;}
.disp_td { display:table-cell; vertical-align:middle; }


.flex{display: flex!important;}
.flex_c{display: flex; align-items: center; justify-content: center;}

.bor5 { display:block; border-radius:5px; overflow:hidden; }
.bor10 { display:block; border-radius:10px; overflow:hidden; }
.bor50 { display:block; border-radius:50%; overflow:hidden; }

.img_sq, .img_rect, .img_back { background-position:center center; background-repeat:no-repeat; background-size:cover; }
.img_sq > img, .img_rect > img, .img_back > img { visibility:hidden; }

.parallax, .parallax:before, .parallax:after { transition:all .7s; }
body.pc .parallax[data-parallax-in="vertical"],
body.pc .parallax[data-parallax-in="vertical2"],
body.pc .parallax[data-parallax-in="vertical3"],
body.pc .parallax[data-parallax-in="vertical4"]  { opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { opacity:0 !important; }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on)  { transform:translateY(30px); -webkit-transform:translateY(30px); -ms-transform:translateY(30px); }
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on) { transform:translateY(60px); -webkit-transform:translateY(60px); -ms-transform:translateY(60px); }
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { transform:translateY(90px); -webkit-transform:translateY(90px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { transform:translateY(120px); -webkit-transform:translateY(120px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="left"] { left:0; }
body.pc .parallax[data-parallax-in="left"]:not(.parallax_on) { left:-100vw; }
body.pc .parallax[data-parallax-in="right"] { right:0; }
body.pc .parallax[data-parallax-in="right"]:not(.parallax_on) { right:-100vw; }

/* font */
.mincho { font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
.fa_b:before,
.fa_a:after { font-family:"Font Awesome 5 Free"; display:inline-block; font-weight:900; font-style:normal; font-variant:normal; text-rendering:auto;
	line-height:1; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; }

@media (min-width: 768px){
	.pc_none { display:none !important; }
}
@media (max-width: 767px){
	.sp_none { display:none !important; }
	.sp_table_wrap { overflow-x:auto; width:100%; white-space:nowrap; }
	.sp_table_wrap::-webkit-scrollbar { height:10px; }
	.sp_table_wrap::-webkit-scrollbar-track { background:#F1F1F1; }
	.sp_table_wrap::-webkit-scrollbar-thumb { background:#BCBCBC; }
	.sp_table_wrap table { width:100%; font-size:13px;
		-webkit-text-size-adjust:100%; -moz-text-size-adjust:none; -ms-text-size-adjust:100%; text-size-adjust:100%; }
}
